@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  font-family: 'Lato', sans-serif;
  background: #eee;
}



.top{
    overflow: scroll;
    height: 80%;
    position: absolute;
    bottom: 0;
}
.catch{
  padding-top: 250px;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.top h1, .catch h1{
  position: relative;
  opacity: 1;
  margin-bottom: 2rem;
  line-height: 1.2;
  width: 100%;
}

.top h2, .top h2{
  text-transform: uppercase;
    letter-spacing: .15em;
    word-spacing: .25em;
    line-height: 1.5;
    /* opacity: 0; */
    /* position: absolute;*/
    position: relative;
    /* left: 0;
    top: 50%; */
    margin-top: -.75rem;
    display: inline-block;
    color: #282828;
    font-family: freight-sans-pro,Helvetica Neue,Arial,sans-serif;
    font-size: 1.22rem;
    font-weight: 600;
    /* line-height: 1;
    text-transform: uppercase;
    letter-spacing: .075em; */
    -webkit-transition: color .15s cubic-bezier(.4,0,.1,1);
    -o-transition: color .15s cubic-bezier(.4,0,.1,1);
    transition: color .15s cubic-bezier(.4,0,.1,1);
    width: 100%;
}

/* ***********************************************************
* #global-nav
* *********************************************************** */
.open #global-nav {
  z-index: 100;
  visibility: visible;
}
#global-nav {
  visibility: hidden;
  position: absolute;
  /* display: table;
  vertical-align: middle; */
  /* color: #fff; */
  color: #000;
  top: 0;
  height: 100%;
  width: 100%;

  list-style: none;
  font-family: freight-text-pro,Georgia,Times New Roman,Times,serif;
  font-weight: 700;
  font-size: 1.5rem;
}
#global-nav ul {
  /*display: table-cell; */
  /* vertical-align: middle; */
  list-style: none;
  /* padding: 0; */
  padding-left:20px;

  text-align: left;
  margin-top: 100px;
}
#global-nav a {
  /* color: #fff; */
  color: #000;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}
#global-nav a:hover {
  color:#D4AF37;
}
#global-nav .title{
  display: block;
    overflow: visible;
    letter-spacing: .03125em;
    /* padding: 0 5px; */
}

/* ***********************************************************
* nav-list
* *********************************************************** */
#global-nav ul li {
  opacity: 0;
  /* -webkit-transform: scaleX(0) translateX(-260px);
  transform: scaleX(0) translateX(-260px); */
  -webkit-transform: scaleY(0) translateY(260px);
  transform: scaleY(0) translateY(260px);
  -webkit-transition: none;
  transition: none;
}
.open #global-nav ul li {
  opacity: 1;
  /* -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0); */
  -webkit-transform: scaleY(1) translateY(0);
  transform: scaleY(1) translateY(0);

  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
.open #global-nav ul li:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.open #global-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.open #global-nav ul li:nth-child(4) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
.open #global-nav ul li:nth-child(5) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.open #global-nav ul li:nth-child(6) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}.open #global-nav ul li:nth-child(7) {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}.open #global-nav ul li:nth-child(8) {
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}.open #global-nav ul li:nth-child(9) {
  -webkit-transition-delay: .9s;
  transition-delay: .9s;
}.open #global-nav ul li:nth-child(10) {
  -webkit-transition-delay: .10s;
  transition-delay: .10s;
}
/* ***********************************************************
* #nav-bg
* *********************************************************** */
#nav-bg, #nav-bg-inner, #nav-bg-fix {
  content: "";
  /* width: 4800px;
  height: 4800px;
  margin-right: -2400px;
  margin-top: -2400px; */
  width: 48px;
  height: 48px;
  margin-right: -24px;
  margin-top: -24px;
  top: 40px;
  right: 40px;
  display: block;
  position: fixed;
  background: #D4AF37;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*-webkit-transition: all .3s  ease-out;
  transition: all .3s  ease-out;
  -webkit-transform: scale(0.01);
  transform: scale(0.01);
  will-change: transform; */
  z-index: 3;
}

#nav-bg-inner, #nav-bg-fix{
  /* background: #ffffff; */
  background: transparent;
  /* -webkit-transform: scale(0.0);
  transform: scale(0.0); */
}

/* #nav-bg{
  -webkit-transition-delay: .15s;
  transition-delay: .15s;
}

 .open #nav-bg,  .open #nav-bg-inner{
   -webkit-transform: scale(1);
   transform: scale(1);
   will-change: transform;
 }
 .open #nav-bg{
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}*/
 /* .open #nav-bg-inner  {
   -webkit-transition: all 2.0s ease-out;
   transition: all 2.0s ease-out;
   -webkit-transition-delay: .2s;
   transition-delay: .2s;
 } */




/* ***********************************************************
* #nav-toggle
* *********************************************************** */
#nav-toggle {
  display: block;
  position: fixed;
  right: 18px;
  top: 21px;
  width: 43px;
  height: 30px;
  cursor: pointer;
  padding: 10px 11px;
  z-index: 101;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  left: 0;
  zoom: 1;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 8px;
}
#nav-toggle span:nth-child(3) {
  top: 16px;
}
.open #nav-toggle {
  background: transparent;
  will-change: transform;

}
.open #nav-toggle span {
  /* background: #fff; */
  background: #000;
}

.open #nav-toggle span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  zoom: 1;
}
.open #nav-toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  zoom: 1;
}



/* */
#barba-wrapper,.barba-container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#box, #box2{
  width: 100%;
  height: 200%;
  background-color:#D4AF37;
  position: absolute;
  display: block;
  right:0px;
  /* bottom: -25%; */
  top: -50%;
  z-index:200;
  border: 1px solid transparent;
  border-radius: 2000px / 5000px;
}
#box2{
  right: 0;
  display: none;
}

/* about */
.block{
  margin-bottom:30px;
  width: 100%;
  text-align: left;
}
.block img{
  width: 100%;
}

.padding-left{
  padding-left:35px;
}
